@import "tailwindcss";

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

/* v classes created by Jacob :) v */

.page-header {
  font-size: 48px;
  font-weight: bold;

}
.page-header-2 {
  font-size: 32px;
  font-weight: bold;

}

.page-flexbox-main {
  display: flex;
  justify-content: center;
  flex-direction:column;
  text-align: center;

  border-color: gray;
  border-width: 3px;
  border-radius: 15px;

  margin: 50px 0px 100px;
  padding: 2% 1%;
  min-width: 1000px;
  min-height: 200px;
  max-width: 1000px;
  
}

.page-flexbox-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;

  border-color: lightgray;
  border-width: 2px;
  border-radius: 15px;

  margin: 10px 5px;
  padding: 2% 1%;
}

.page-flexbox-column {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

  border-color: lightgray;
  border-width: 2px;
  border-radius: 15px;

  margin: 10px 5px;
  padding: 2% 1%;
}

.link-button{
  color: forestgreen;
}
.link-button:hover:enabled{
  color: forestgreen;
  text-decoration: underline;
  cursor:pointer;
}
.link-button:disabled{
  color: lightgray;
}

.icon-button{
  color: forestgreen;
}
.icon-button:hover{
  color: rgb(21, 84, 21);
  cursor:pointer;
}

.modal-main{
  
  
  text-align: center;

  border-color: gray;
  border-width: 3px;
  border-radius: 15px;

  margin: 50px 0px 100px;
  padding: 2% 1%;
  min-width: 50%;
  min-height: 200px;
  max-width: 50%;

  top: 25%;
  left: 25%;
}